.A {
  background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials.jpg");
  text-align: center;
  background-size: cover;
  /* background-repeat: no-repeat; */
}

.input {
  margin-top: 50px;
  background-color: #3cbc8d;
  color: white;
  width: 200px;
  height: 30px;
  text-align: center;
  font-family: serif;
  font-size: 25px;
}

.list {
  margin-top: 50px;
  text-align: center;
  color: white;
  font-family: serif;
}

.button {
  color: white;
  background-color: rgb(66, 172, 119);
  height: 50px;
}
